nav ul li a {
    font-family: 'Abel', sans-serif;
    font-size: 26px;
    color: #121212;
}

nav ul li a:hover {
    color: #fff;
    background-color: #DABD38;
}
section{
    font-family: 'Amatic+SC','Philosopher',sans-serif;
}
.contact {
    background-image: url("https://image.ibb.co/kPDzje/eiffel_tower_975004_1920.jpg"); 
    position: relative;
    background-attachment: scroll;
    background-size: auto;
    padding-top: 90px;
    padding-bottom: 90px;
    background-repeat: no-repeat;
    background-position: center;
}
.opa{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

label{
    position: relative;
    cursor: pointer;
}
.message{
    margin: 10px;
}
button{

    margin: 15px;
    background-color: #149dcc;
    border-color: #149dcc;
    color: #fff;
    
}